body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------- HEADER-------*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  /*margin-left: 156px;*/
}
.header-logo-stud {
  color: #2e2f42;
}

.header-logo > span:hover,
.header-logo:focus {
  color: #404bbf;
}
.header-navigation {
  display: flex;
  /*flex-grow: 1;*/
  align-items: center;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
  /*margin-right: 156px;*/
}
.header-address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/*-------- hero-------*/
.hero {
  /* max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;*/
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
}
.hero-wrap {
  /*max-width: 1440px;*/
  /*background-color: #2e2f42;*/
  padding-top: 188px;
  padding-bottom: 188px;
  /*padding-left: 472px;
  padding-right: 472px;*/
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /*display: flex;
  justify-content: center;*/
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-butn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: hsl(235, 75%, 60%);
  /*max-width: 169px;*/
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  bottom: none;
  display: block;
  margin: 0 auto;
}

.hero-butn:hover {
  font-weight: 600;
  background-color: #404bbf;
}
.hero-butn:focus {
  background-color: #404bbf;
}
/*-------- FEATURES-------*/
.features {
}
.features-container {
  /* display: flex;
  gap: 24px;*/
}
.features-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-item {
  width: 264px;
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------- TEAM-------*/
.team {
}
.team-container {
  max-width: 1440px;
  background-color: #f4f4fd;
  margin: 0 auto;
}
.team-wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 72px;
  color: #2e2f42;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  padding-bottom: 32px;
}
.team-image {
  margin-bottom: 32px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-container {
  max-width: 1440px;
  background-color: #f4f4fd;
  margin: 0 auto;
}
/*-------PORTFOLIO-------*/
.portfolio {
}
.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 60px;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  height: 420px;
  width: 360px;
  background: #fff;
}

.portfolio-subt-txt-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-------FOOTER-------*/

.footer {
}
.footer-container {
  /*height: 312px;*/
  width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
}
.footer-wrap {
  width: 264px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-wrap {
  padding-bottom: 16px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer--logo-stud {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo > span:hover,
.footer-logo:focus {
  color: #404bbf;
}
